<h1>House#index</h1>
<p>Find me in app/views/house/index.html.erb</p>
<%=form_tag(house_index_path, :method => "get", id: "search-form") do %>
<%=label_tag 'Номер дома'%><%=text_field_tag 'house_num_search'%><br>
<%=label_tag 'Цвет дома'%><%=text_field_tag 'color_search'%><br>
<%=label_tag 'Высота дома от'%><%=text_field_tag 'height1_search'%>
<%=label_tag ' до '%><%=text_field_tag 'height2_search'%><br>

<%=submit_tag "Search" , class: "btn btn-search"%>
<table class="table table-striped">
<th>Улица</th>
<th>Дом</th>
<th>Высота</th>
<th>Цвет</th>
<% @houses.each do |h|%>
	<tr>
	<td><%= h.street.name%></td>
	<!--<td>Дом <%= h.house_num%></td>-->
	<td><%= h.dom_number%></td>
	<td><%= h.height%></td>
	<td><%= h.color%></td>
	</tr>
<%end%>
</table>
<%end%>