<%=form_for @house, url: {action:'create', method:"post"} do |f| %>
<table>
<tr>
<td><%=f.label "Номер дома" %></td>
<td><%=f.text_field :num %></td>
</tr>
<tr>
<td><%=f.label "Доп.номер дома" %></td>
<td><%=f.text_field :num_extra %></td>
</tr>
<tr><td><%=f.submit "Создать"%></td></tr>
</table>
<%= f.collection_select(:street_id, @streets, :id, :name, :selected => params[:street_id]) %>
<%= f.collection_select(:district_id, @districts, :id, :name )%>
<%end%>