<!DOCTYPE html>
<html>
<head>
  <title>PaperclipUploader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-header" align="center">
	<h1>The uppermost part<br><small>Find me at views/layouts/application.html.erb</small></h1>
	<%= link_to "Log in", :picture_new, class: 'btn btn-large btn-primary' %>
</div>
<%= yield %>

</body>
</html>
