<h1>People#show</h1>
<p>Find me in app/views/people/show.html.erb</p>

<p>
   <strong>Name: </strong> <%= @ppp.name %><br />
   <strong>Birthdate:</strong> <%= @ppp.birthdate %><br />
   <strong>Credit Date:</strong> <%= @ppp.credit %><br />
   <strong>Comments:</strong> <%= @ppp.comments %><br />
</p>


<%= link_to 'Back', {:action => 'index' } %>
